<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear nuevo objetivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #targetForm="ngForm" (ngSubmit)="addTarget()">
    <ion-list>
      <ion-item>
        <ion-input name="name" [(ngModel)]="newTarget.name" #nameModel="ngModel" label="Nombre del objetivo" labelPlacement="floating"></ion-input>
        @if (nameModel.dirty && nameModel.valid) {
          <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
      </ion-item>
      <ion-item>
        <ion-input name="target_amount" [(ngModel)]="newTarget.target_amount" #amountModel="ngModel" label="Dinero a ahorrar" labelPlacement="floating"></ion-input>
        @if (amountModel.dirty && amountModel.valid) {
          <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
      </ion-item>
      <ion-item>
      <ion-select
        label="Categoría de objetivo"
        [multiple]="false"
        [(ngModel)]="newTarget.target_category_id"
        name="mood"
        label-placement="floating"
      >
      @for(targetCategory of targetCategories; track targetCategory){
        <ion-select-option value="{{targetCategory.id}}">{{targetCategory.name}}</ion-select-option>
      }
      </ion-select>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="!targetFormValid()">
            <ion-icon name="add" slot="start"></ion-icon>
            Crear objetivo
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" expand="block" fill="outline" [routerLink]="['/targets']" [routerDirection]="'root'">
            <ion-icon name="arrow-undo-circle" slot="start"></ion-icon>
            Cancelar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>