<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Transacciones </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher
    #refresher
    slot="fixed"
    (ionRefresh)="reloadTransactions(refresher)"
  >
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Transacciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis transacciones</ion-card-title>
      @if(transactions.length > 0){
      <ion-card-subtitle>El control es la clave del éxito</ion-card-subtitle>
      }@else {
      <ion-card-subtitle
        >Todavía no has registrado ninguna transacción</ion-card-subtitle
      >
      }
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        @if(transactions.length > 0){ @for (transaction of transactions; track
        transaction) {
        <ion-item>
          <ion-thumbnail slot="start">
            <img
              alt="Silhouette of mountains"
              [src]="transaction.transaction_type_id !== 1 ? 'https://cdn-icons-png.flaticon.com/128/9340/9340184.png' : 'https://cdn-icons-png.flaticon.com/128/9340/9340185.png'"
            />
          </ion-thumbnail>
          <ion-grid>
             <ion-row>
              <ion-label class="transaction-category"
                >{{transaction.created | date:"dd/MM/yyyy" }}</ion-label
              >
            </ion-row>
            <ion-row>
              <ion-label>{{transaction.name}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-label class="transaction-category pb-5"
                >{{transaction.transaction_category_id ? transaction.transaction_category_name : "Sin categoría"}}</ion-label
              >
            </ion-row>
            <ion-row>
              @if(transaction.transaction_type_id === 1){
                 <ion-label class="bg-dark-tint mt-0 positive-transaction">
                -{{transaction.amount | currency:'EUR':'symbol':'1.2-2' }}
                </ion-label> 
              }@else {
                <ion-label class="bg-dark-tint mt-0 negative-transaction">
                +{{ transaction.amount | currency:'EUR':'symbol':'1.2-2' }}
                </ion-label> 
              }
            </ion-row>
          </ion-grid>
          <ion-button slot="end" fill="clear" color="medium " size="big" [routerLink]="['/tabs/transactions/' + transaction.id]" routerLinkActive="router-link-active">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-button>
        </ion-item>
        } }@else {
        <ion-button
          [routerLink]="['/tabs/transactions/add']"
          routerLinkActive="router-link-active"
          class="d-flex"
          >Registrar mi primera transacción</ion-button
        >
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      color="secondary"
      [routerDirection]="'root'"
      [routerLink]="['/tabs/transactions/add']"
      routerLinkActive="router-link-active"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
