<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Objetivo </ion-title>
  </ion-toolbar>
</ion-header>

@if(target){
<ion-content [fullscreen]="true">
  <ion-refresher
    #refresher
    slot="fixed"
    (ionRefresh)="reloadtargetInfo(refresher)"
  >
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-avatar>
      <ion-img
        alt="Target icon"
        src="https://cdn-icons-png.flaticon.com/128/9340/9340209.png"
      ></ion-img>
    </ion-avatar>
    <ion-text>
      <h2>{{target.name}}</h2>
      <div class="d-flex"><ion-label>Categoría:</ion-label><h6 class="mt-0 ml-5">{{target.target_category_id ? target.target_category_name : "Sin categoría"}}</h6></div>
      <div class="d-flex"><ion-label>Cuantía:</ion-label><h6 class="mt-0 ml-5">{{target.target_amount | currency: "EUR"}}</h6></div>
      <div class="d-flex"><ion-label>Fecha de registro:</ion-label><h6 class="mt-0 ml-5">{{target.created | date:"dd/MM/yyyy"}}</h6></div>
      <div class="d-flex"><ion-label>Hora:</ion-label><h6 class="mt-0 ml-5">{{target.created | date:"HH:ss"}}</h6></div>

    </ion-text>
  </ion-item>

  <!-- Botones para editar -->
  <div id="buttons">
    <ion-button expand="block" (click)="openTargetDetailModal()">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Editar</ion-label>
    </ion-button>
    <ion-button color="danger" (click)="deleteTarget(target.id!)">
      <ion-icon name="trash-sharp"></ion-icon>
      <ion-label>Eliminar</ion-label>
    </ion-button>
  </div>
  <ion-button
    color="danger"
    class="go-back"
    expand="block"
    fill="outline"
    [routerLink]="['/tabs/targets']"
    [routerDirection]="'root'"
  >
    <ion-icon name="arrow-undo-circle" slot="start"></ion-icon>
    Volver a objetivos
  </ion-button>
</ion-content>
}
