<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Objetivo </ion-title>
  </ion-toolbar>
</ion-header>

@if(target){
<ion-content [fullscreen]="true">
  <ion-refresher
    #refresher
    slot="fixed"
    (ionRefresh)="reloadtargetInfo(refresher)"
  >
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-avatar>
      <ion-img
        alt="Target icon"
        src="https://cdn-icons-png.flaticon.com/128/9340/9340209.png"
      ></ion-img>
    </ion-avatar>
    <ion-grid>
      <ion-row>
        <ion-text>
          <h2>{{target.name}}</h2>
          <div class="d-flex"><ion-label>Categoría:</ion-label><h6 class="mt-0 ml-5">{{target.target_category_id ? target.target_category_name : "Sin categoría"}}</h6></div>
          <div class="d-flex"><ion-label>Fecha de registro:</ion-label><h6 class="mt-0 ml-5">{{target.created | date:"dd/MM/yyyy"}}</h6></div>
          <div class="d-flex"><ion-label>Hora:</ion-label><h6 class="mt-0 ml-5">{{target.created | date:"HH:ss"}}</h6></div>
          <ion-button expand="block" (click)="openTargetDetailModal()">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Editar</ion-label>
    </ion-button>
        </ion-text>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>          
        <h2 class="d-flex progress-text">Progreso</h2>
      </ion-row>
      <ion-row>
        <h6 class="d-flex progress-text">Cantidad restante:                    {{target.target_amount! - target.current_amount! | currency: "EUR"}}</h6>
        <h6 class="d-flex progress-text">Cantidad ahorrada:                    {{target.current_amount! | currency: "EUR"}}</h6>
      </ion-row>
      <ion-row class="above-progress-bar">
        <h6>
          {{percentage + "%"}}</h6
        >
        <h6>
          {{target.target_amount | currency: "EUR"}}</h6
        >
      </ion-row>
      <ion-row>
        <ion-progress-bar
          [value]="target.current_amount! / target.target_amount!"
        ></ion-progress-bar>
      </ion-row>
      <ion-row class="register-saving-buttons">
        <ion-button class="register-saving" expand="block" color="danger" (click)="openRemoveTargetAmountModal()">
          <ion-icon name="remove-circle-outline"></ion-icon>
          <ion-label>Quitar</ion-label>
        </ion-button>
        <ion-button class="register-saving" expand="block" color="success" (click)="openTargetAmountModal()">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>Añadir</ion-label>
        </ion-button>
      </ion-row>
    </ion-grid>
  </ion-item>

  <!-- Botones para editar -->
  <div id="buttons">
    <ion-button color="danger" class="long" (click)="deleteTarget(target.id!)">
      <ion-icon name="trash-sharp"></ion-icon>
      <ion-label>Eliminar objetivo</ion-label>
    </ion-button>
  </div>
  <ion-button
    color="medium"
    class="long"
    expand="block"
    [routerLink]="['/tabs/targets']"
    [routerDirection]="'root'"
  >
    <ion-icon name="arrow-undo-circle" slot="start"></ion-icon>
    Volver a objetivos
  </ion-button>
</ion-content>
}
